body {
    background: linear-gradient(to bottom, #ffffff, #d3d3d3);
    animation: wave 5s infinite alternate;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.poetry p {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

@keyframes wave {
    from {
        background: linear-gradient(to bottom, #ffffff, #d3d3d3);
    }
    to {
        background: linear-gradient(to bottom, #d3d3d3, #ffffff);
    }
}
