body {
    background: linear-gradient(to bottom, #ffffff, #d3d3d3);
    animation: wave 10s infinite alternate ease-in-out; /* Increase duration and add easing */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.poetry p {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

@keyframes wave {
    0%, 100% {
        background: linear-gradient(to bottom, #ffffff, #d3d3d3);
    }
    50% {
        background: linear-gradient(to bottom, #d3d3d3, #ffffff);
    }
}


